@CHARSET "UTF-8";

body {
    background-color: #f4bbdb;
    font-family: 'Quicksand', sans-serif;

    min-height: 100vh;
    display: flex;
}

h1 {
    color: transparent;
    ;
    background-repeat: repeat-x;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: #eee;
    background: linear-gradient(#eee, #097921);
    -webkit-background-clip: text;
    background-clip: text;
}

h2 {
    color: transparent;
    ;
    background-repeat: repeat-x;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: #eee;
    background: linear-gradient(#eee, #097921);
    -webkit-background-clip: text;
    background-clip: text;
}

a {
    color: #95887d;
    text-decoration: none;
}

.hype {
    color: #0b23d6
}

nav {
    color: #010101
}

.byline {
    color: #33aa3380;
    font-size: 70%;
}

#page-copyright {
    color: #0bdd00;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.bio p {
    text-indent: 3em;
}

footer {
    font-size: 12px;
    text-align: center;
    margin-bottom: 2em;
    margin-top: auto;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    list-style: circle;
}

.width-wrap {
    max-width: 1024px;
    min-width: 512px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 3em;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.3);
    background-color: #ffe4e1;
    -webkit-box-shadow: 4px 4px 4px rgba(255, 0, 0, 0.3);
    -moz-box-shadow: 4px 4px 4px rgba(255, 0, 0, 0.3);

    display: flex;
    flex-direction: column
}

.hype {
    list-style: none;
    padding: 0
}

body {
    padding-top: 0;
    padding-bottom: 0;
}

.mugshot img {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

footer hr {
    width: 50vw;
    min-width: 300px;
    margin-top: 3em;
    margin-bottom: 2em;
    border-top: 3px solid #00ffff;
    border-bottom: 8px dotted #00ffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-left: none;
    border-right: none;
}

* {
    box-sizing: border-box;
}

.paperclip {
    background-image: url("../images/paperclip.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    position: absolute;
    top: -10px;
    right: -7px;
}

.mugshot {
    float: right;
    position: relative;
    top: -1em;
}

.favourites {
  clear: right;
}

nav ul {

}

header nav li {

}

nav a {
    text-decoration: none;
    padding-right: 10px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    display: block;

    border-top: 4px solid transparent;
}

header {
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.1);
    margin-left: -2em;
    margin-right: -2em;
}

header nav {
    margin-left: 2em;
    margin-right: 2em;
    border-bottom-color: rgba(0, 0, 0, 0.3);
    border-bottom-style: dotted;
    border-width: 1px;
    margin-top: -4px;

    overflow: auto;
}

header a:hover {
    border-top-style: solid;
    border-width: 4px;
    border-color: #0099cc;
}

.back-to-top {
    text-align: right;
    margin-right: -0.5em;
    opacity: 0.5;
}
.back-to-top:hover {
    opacity: 1;
}
.back-to-top a {
    position: fixed;
    bottom: 3.5em;
}
main {
      display:grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2em;
}
.bio{
    grid-column: span 2;

}
#useful-links,
.glossary{
    grid-column: span 2;
}
body{
    box-sizing: border-box;
}
.gallery {
         grid-column: span 2;
         width: 100%
}
.gallery-thumbnails {
                  display: grid;
                  grid-template-columns: 25% 25% 25% 25%;
                  width: 100%

}
.row-span-2{
       grid-row: span 2;
}
.col-span-2{
       grid-column: span 2;
}

.gallery-thumbnails img {
    width: 100%;
    display: block;
     filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.gallery-thumbnails img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
img {
    max-width: 100%;
    height: auto;
}
table{
    border-collapse: collapse;
}
td,
th {
    background: rgba(0, 0, 0, 0.05);
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    border-left: 3px solid #ffe4e1;
    border-right: 3px solid #ffe4e1;
}
th {
    background: rgba(0, 0, 0, 0.1);
}
tr:nth-child(odd) td {background: rgba(0, 0, 0, 0.1);}
#call1{
    border-top: 3px solid #ffe4e1;
}
#call2 {
    border-top: 3px solid #ffe4e1;
}
th, td {
    border-right: 3px solid #ffe4e1;
}
.survey{
    grid-column: span 2;
}
form{
    display: grid;
}
label{
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.button{
    margin-top: 1em;
    justify-self: end;
    font-size: 24px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-color: firebrick;
    background-color: gold;
    background-image: linear-gradient(to right, rgb(255, 0, 157), rgb(226, 129, 19));
}
#burger-toggle{
    display:none;
}